<section style="padding:15px 0px 5px 0px">
    <div class="container theme-showcase" role="main" >
        <!-- container start-->

        <div class="row">
      

            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                    
	               
	                    <span class="panel-title" >Reset Password</span> 
	                   
	                    
	              
                   </div>
                    <div class="panel-body">
                    
                    <div ng-if="errorStatus">
                         <div class="form-group">
                    		 <p class="col-sm-offset-4 col-sm-5 text-danger">{{errorStatus}}</p>
                    		 </div>
                    </div>
                        <div ng-if="!errorStatus"><!-- form start-->
                        <form class="form-horizontal" name="myForm">
                        
                            <div class="form-group">
			                    <div class="col-sm-offset-3 col-sm-4 text-success" ng-if="successStatus">{{successStatus }}</div>
			                     <div class="col-sm-offset-3 col-sm-4 text-danger" ng-if="passerrorStatus ">{{passerrorStatus  }}</div>
                		  </div>
                        <div class="form-group">
                        		<label class="control-label col-sm-3">New Password</label>
                        		 <div class="col-sm-4">
                                  <input type="password" class="form-control" ng-model="pass.password" name="password" id="password" required >
                               </div>
                                 <div class="col-sm-4 help-block">
                        			 <p class="text-danger" ng-show="myForm.password.$error.required" >Please enter the password</p>
                  				  </div>
                        
                        </div>
                        
                          <div class="form-group">
                        		<label class="control-label col-sm-3">confirm Password</label>
                        		 <div class="col-sm-4">
                                  <input type="password" class="form-control" ng-model="password_c" name="password_c" id="password_c" valid-password-c  required>
                               </div>
                                 <div class="col-sm-4 help-block">
                        			 <p class="text-danger" ng-show="myForm.password_c.$error.required" >Please enter the confirm password</p>
                        			 
                        			 <span ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
                  				  </div>
                        
                            <input type='hidden' ng-model="userName">
                            <input type="hidden" ng-model="randid">
                        </div>
                        
                                         
                       
                        
                        <div class="form-group">
                        	<div class="col-sm-offset-3 col-sm-4" > <input type="button" name="submit" id="submit" value="Reset Password" class="btn btn-info pull-right"  ng-click="resetpasswordUpdate()"/></div>
                        
                        
                        </div>
                        
                        </form>
                            
                        </div><!-- form end-->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- container ends-->
</section>